1.What are data structures, and why are they important?

->Data structures are fundamental part of programming as they allow for efficient storage, organization, and access of data.
they are important because they opmtimize tasks like sorting, searching, etc.

2.Explain the difference between mutable and immutable data types with examples.

->Mutable data:- data that can be edited after they are created.
for example-lists
Immutable data:- data that can not be edited or changed after there creation
for example-string,tuples

3.What are the main differences between lists and tuples in Python?

->Lists are mutable data type where as tuples are immutable data type.
Syntax:- lists uses [] and tuples uses()

4.Describe how dictionaries store data?

->Dictionaries store data as key-value pairs in a hash table.

5.Why might you use a set instead of a list in Python?

->Set can be used when u need to ensure
there is no duplicate elements.

6.What is a string in Python, and how is it different from a list?

->String is sequence of character, while lists can be a sequence of any data type.
Strings are immutable but lists are mutable.

7.How do tuples ensure data integrity in Python?

->Tuples are immutable, meaning their content cannot be changed after creation.
So, data remain unchanged throughout its use.

8.What is a hash table, and how does it relate to dictionaries in Python?

->Hash tables is a data strcuture that  store key-value pairs. Hash tables can be implemented through the built-in dictionary data type.

9.Can lists contain different data types in Python?

->Yes, lists contain different data types in Python.

10.Explain why strings are immutable in Python?

->The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

11.What advantages do dictionaries offer over lists for certain tasks?

->Dictionaries store data in key vlaue pair, so they can be used when we need to store data relating to another. for example phonebook(number with name), etc.

12.Describe a scenario where using a tuple would be preferable over a list?

->Tuples are preferred when you want to ensure the data remains unchanged, such as coordinates or configurations that shouldn't be modified.

13.How do sets handle duplicate values in Python?

->Sets automatically remove duplicate values.

14.How does the “in” keyword work differently for lists and dictionaries?

->Lists: Checks if a value exists in the list.
Dictionaries: Checks if a key exists in the dictionary.

15.Can you modify the elements of a tuple? Explain why or why not?

->Tuples, unlike lists, are immutable. This means that once a tuple's elements have been allocated, they cannot be modified; attempting to do so will result in a TypeError.

16.What is a nested dictionary, and give an example of its use case?

->A nested dictionary is a dictionary inside another dictionary. Use case: Storing complex hierarchical data.

17.Describe the time complexity of accessing elements in a dictionary.

->O(1) is the time complexity of dictionary.

18.In what situations are lists preferred over dictionaries?

->Lists are used when key value pair is not required and duplicate data is important.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

->Dictionaries were unordered before Python 3.7. Starting from Python 3.7, they maintain insertion order. Regardless, data retrieval is still based on keys and not the order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

->In list data can be acessed by index where as in dictionary data can searched thorugh keys.

In [5]:
#1.Write a code to create a string with your name and print it
a = "Hara Prasad Dash"
print(a)

Hara Prasad Dash

In [7]:
#2.Write a code to find the length of the string "Hello World
b = "Hello World"
len(b)

11

In [8]:
#3. Write a code to slice the first 3 characters from the string "Python Programming
c = "Python Programming"
c[0:3]

'Pyt'

In [9]:
#4. Write a code to convert the string "hello" to uppercase
d = "hello"
d.upper()

'HELLO'

In [15]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple
e = "I like apple"
print(e.replace("apple", "orange"))

I like orange

In [17]:
#6.Write a code to create a list with numbers 1 to 5 and print it
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [18]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
g = [1,2,3,4]
g.append(10)
g

[1, 2, 3, 4, 10]

In [19]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
h = [1,2,3,4,5]
h.remove(3)
h

[1, 2, 4, 5]

In [21]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
i = ["a","b","c","d"]
i[1]

'b'

In [22]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
j = [10,20,30,40,50]
j.reverse()
j

[50, 40, 30, 20, 10]

In [24]:
#11.Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple(i for i in range(10,40,10))
'''
without the tuple function the code generates a generator object.
'''

(10, 20, 30)

In [25]:
#12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
l = ('apple', 'banana', 'cherry')
l[0]

'apple'

In [26]:
#13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)\
m = (1,2,3,2,4,2)
m.count(2)

3

In [28]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
n = ('dog', 'cat', 'rabbit')
n.index("cat")

1

In [29]:
#15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
o = ('apple', 'orange', 'banana')
"banana" in o

True

In [32]:
#16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set(i for i in range(1,6))

{1, 2, 3, 4, 5}

In [33]:
#17.Write a code to add the element 6 to the set {1, 2, 3, 4}
p = {1,2,3,4}
p.add(6)
p

{1, 2, 3, 4, 6}

In [35]:
#18.Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple(i for i in range(10,40,10))

(10, 20, 30)

In [36]:
#19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
q = ('apple', 'banana', 'cherry')
q[0]

'apple'

In [37]:
#20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
r = (1,2,3,2,4,2)
count = 0
for i in r:
  if i/2 == 1:
    count += 1
print(count)

3

In [38]:
#21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
s = ('dog', 'cat', 'rabbit')
s.index("cat")

1

In [40]:
#22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
o1 = ('apple', 'orange', 'banana')
n1 = input("what u want to search: ")
if n1 in o1:
  print("found")
else:
  print("not found")

what u want to search: banana
found

In [41]:
#23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print i
set(i for i in range(1,6))

{1, 2, 3, 4, 5}

In [43]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s = {1,2,3,4}
s.add(6)
s

{1, 2, 3, 4, 6}